<% layout('/layouts/boilerplate') %>
<h1>List of All Restaurants</h1>
<div>
  <a href="/restaurants/new">Add Restaurant</a>
</div>
<ul>
  <% for(let restaurant of restaurants) {%>
  <li>
    <a href="/restaurants/<%= restaurant._id  %> "><%= restaurant.name  %></a>
  </li>
  <% } %>
</ul>