<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Restaurant</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/restaurants" , method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="name">Restaurant Name:</label>
        <input class="form-control" type="text" name="restaurant[name]" id="name" placeholder="Restaurant Name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Choose image(s)</label>
        <input class="form-control" type="file" id="image" name="image" multiple>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Restaurant Location</label>
        <input class="form-control" type="text" name="restaurant[location]" id="location" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Restaurant description</label>
        <textarea class="form-control" type="text" name="restaurant[description]" id="description" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
    <div>
      <a href="/restaurants">View Restaurants</a>
    </div>
  </div>
</div>