<% layout('/layouts/boilerplate') %>
<h1>Enter a New Restaurant</h1>
<form action="/restaurants" , method="POST">
  <div>
    <label for="name">Restaurant Name:</label>
    <input type="text" name="restaurant[name]" id="name" placeholder="Restaurant Name">
  </div>
  <div>
    <label for="location">Restaurant Location</label>
    <input type="text" name="restaurant[location]" id="location">
  </div>
  <button>Submit</button>
</form>
<div>
  <a href="/restaurants">View Restaurants</a>
</div>